before_script:
    - export PATH=$PATH:bin/
    - export DISPLAY=:99
stages:
    - test
    - robot
test_operun:
    stage: test
    variables:
      TEMP: 'pwd'
    script:
        # Build
        - /usr/bin/virtualenv .
#        - mkdir temp
#        - cd temp
#        - eval $TEMP
#        - cd ..
#        - echo $TEMP
#        - TEMDIR=$TEMP ./bin/pip install --cache-dir=$TEMP --build=$TEMP plone.staticresources==1.1.0
        - ./bin/pip install -r requirements.txt
        - ./bin/buildout -c develop.cfg -t 3 -vvvvv
        # Test
        - ./bin/coverage erase
        - ./bin/coverage run -p --source=src bin/test || exit 1
        - ./bin/coverage combine
        - ./bin/coverage html
        - ./bin/coverage report
#robot_operun:
#    stage: test
#    script:
#        # Build
#        - /usr/bin/virtualenv .
#        - ./bin/pip install -r requirements.txt
#        - ./bin/buildout -c develop.cfg -t 3 -v
#        # Robot
#        - ./bin/test --all -t robot
#
