[buildout]
extends = http://dist.plone.org/release/5.2rc2/versions.cfg
          versions.cfg

show-picked-versions = false
extensions =
    mr.developer

index = https://pypi.python.org/simple/
develop = .
languages = de

parts =
    instance
    omelette

auto-checkout +=
    plonetheme.tokyo
    nva.footerviewlet
    nva.testbootstrap

always-checkout = true

test-eggs +=
    plonetheme.tokyo
    nva.footerviewlet
    nva.testbootstrap
    plonetheme.siguv [test]


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
    TMPDIR ${buildout:directory}/temp
eggs =
    Plone
    Pillow
    plone.staticresources
    plonetheme.tokyo
    nva.footerviewlet
    plonetheme.siguv
    nva.testbootstrap


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[sources]
plonetheme.tokyo = git https://github.com/collective/plonetheme.tokyo.git rev=3aa39a9fbee53add0d14b7c423c51aea4f9e7ea2
nva.footerviewlet = git https://github.com/novareto/nva.footerviewlet branch=master
nva.testbootstrap = git https://github.com/novareto/nva.testbootstrap.git branch=master
