#siguv-navigation {
  display: block;
  position: fixed;
  top: 78px;
  width: 100%;
  background-color: @siguv-white;
  border-bottom: 1px solid #CCC;
  z-index: 44;

  // States

  &.collapsed {
    .navbar-nav {
      opacity: 0;

      .vendor(transition, opacity 200ms ease-in-out);
    }

    &.active {
      .navbar-nav {
        opacity: 1;
      }
    }
  }

  &.enabled {
    top: 120px;

    .navigation-menu {
      display: none;
    }
  }

  &.disabled {
    display: none;
  }

  &.active {
    transform: translateY(42px);
  }

  .dropdown-item {

    &.active,
    &:active {
      background-color: @siguv-blue;
    }
  }

  .vendor(transition, all 100ms ease-in-out);

  // Nav

  .nav-item {
    &.show {
      .dropdown-menu {
        display: block;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      padding: 1rem 0;
      margin-right: 1rem;
      color: rgba(0, 0, 0, .5);

      &:hover {
        color: @siguv-blue;
      }
    }

    .active>.nav-link,
    .show>.nav-link,
    .nav-link.active,
    .nav-link.show {
      color: @siguv-blue;
    }
  }

  .navigation-menu {
    width: 100%;
    padding: 5px 0;
    position: absolute;
    bottom: 0;

    .navigation-handle {
      background-color: #CCC;
      width: 75px;
      height: 3px;
      margin: 0 auto;
      border-radius: 3px;
      cursor: pointer;

      .vendor(transition, all 100ms ease-in-out);

      &:hover {
        background-color: @siguv-light-grey;
        width: 85px;
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  #siguv-navigation {
    display: none;
  }
}

// Animation

.show>.dropdown-menu {
  .vendor(animation-name, fadeNav);
  .vendor(animation-duration, 100ms);
  .vendor(animation-iteration-count, 1);
  .vendor(animation-timing-function, ease-in-out);
  .vendor(animation-fill-mode, forwards);
}

@keyframes fadeNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
