@import '@{tokyo}';

@siguv-black: #000000;
@siguv-blue: #004994;
@siguv-cyan: #0095DB;
@siguv-green: #51AE31;
@siguv-grey: #555555;
@siguv-light-green: #AFCA06;
@siguv-light-grey: #9C9C9C;
@siguv-orange: #F39200;
@siguv-red: #D40F14;
@siguv-turquoise: #008C8E;
@siguv-violett: #B80D78;
@siguv-white: #FFFFFF;
@siguv-yellow: #FFCC00;

@tokyo-black: @siguv-black;
@tokyo-blue: @siguv-blue;
@tokyo-grey: @siguv-light-grey;
@tokyo-red: @siguv-red;
@tokyo-slate: @siguv-grey;
@tokyo-white: @siguv-white;
@tokyo-yellow: @siguv-yellow;

/* Screen Sizes */
@screen-xxxs-max: 319px;
@screen-xxs-min: 320px;
@screen-xxs-max: 479px;
@screen-xs-min: 480px;
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

/* Vendor */
.vendor(@property, @value) {
  -moz-@{property}: @value;
  -ms-@{property}: @value;
  -o-@{property}: @value;
  -webkit-@{property}: @value;
  @{property}: @value;
}

@import 'fonts.less';

html {
  background-color: @siguv-blue;

  body {
    font-family: 'DGUVMeta', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    #menu-header {
      position: relative;
    }

    #about {
      padding: 60px 0;
      background-color: @siguv-blue;
      color: @siguv-white;
    }

    abbr[title] {
      border-bottom: none !important;
      cursor: inherit !important;
      text-decoration: none !important;
    }

    &[class^="manage-viewlets"],
    &[class*="manage-viewlets "] {
      background-color: white;
      height: 100%;
      padding: 15px !important;

      .hiddenViewlet {
        background-color: rgba(0, 0, 0, 0.125);
      }

      .viewlet {
        .row {
          margin: 0;
        }

        dt {
          a {
            text-decoration: none;
            border-bottom: 0;
            outline: none;
          }
        }
      }

      .viewletmanager {
        padding: 0;
        margin: 0 0 15px 0;
        max-width: none;
        width: 100%;

        .documentFirstHeading,
        .documentDescription {
          margin: 8px;
        }
      }

      footer {
        background-color: inherit;
      }
    }
  }

  a {
    color: @siguv-blue;
    text-decoration: none;

    &:focus,
    &:active {
      color: inherit;
    }

    &:hover {
      color: @siguv-cyan;
    }
  }

  #menu-header {
    height: 120px;

    &.active {
      background-color: @siguv-white;
      border-bottom: 1px solid #ccc;
    }

    .header-wrapper {
      display: block;
      padding: 0 30px;

      .header-logo img {
        height: 71px;
        width: auto;
        padding: 0;
        margin: 25px 0 0 0;
      }

      .header-search {
        margin: 40px 0 0 0;
        display: none;
      }

      .header-icons {
        color: @siguv-blue;
      }
    }
  }

  #portaltab-burger-menu {
    margin: 30px 0;
  }


  #portal-footer-wrapper {
    .page-footer {
      background-color: @siguv-blue;
    }
  }

}


@media (min-width: 768px) {

  html {
    #menu-header {
      .header-wrapper {
        .header-search {
          display: block;
        }
      }
    }
  }

}
