/* Add Custom CSS Here */

:root {
  --siguv-black: #000000;
  --siguv-blue: #606EB2;
  --siguv-cyan: #D62598;
  --siguv-green: #64A70B;
  --siguv-grey: #505759;
  --siguv-light-green: #AFCA06;
  --siguv-light-grey: #9C9C9C;
  --siguv-orange: #F6BE00;
  --siguv-red: #EF3340;
  --siguv-turquoise: #E56DB1;
  --siguv-violett: #AF1685;
  --siguv-white: #FFFFFF;
  --siguv-yellow: #FFE900;
}

html {
  background-color: #64A70B !important;
}

body footer {
  background-color: var(--siguv-black);
}

html body {
  font-family: 'Cambay', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

a#edi_myfolder {
  background-color: #64A70B !important;
  color: #ffffff !important;
  padding-left:7px !important;
  padding-right:7px !important;
}

html #menu-header .header-wrapper .header-logo img {
    height: auto !important;
}

html #menu-header {
    height: 180px !important;
}

#siguv-navigation.enabled {
    top: 180px !important;
}

html body #content .content-inner {
    padding: 280px 30px 100px 30px !important;
}

/* Regular */
@font-face {
  font-family: 'Cambay';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cambay/Cambay-Regular.ttf') format('truetype');
}

/* Semi Bold */
@font-face {
  font-family: 'Cambay';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/cambay/Cambay-Regular.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Cambay';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/cambay/Cambay-Bold.ttf') format('truetype');
}

/* Italic */
@font-face {
  font-family: 'Cambay';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/cambay/Cambay-Italic.ttf') format('truetype');
}

/* Italic Semi-Bold */
@font-face {
  font-family: 'Cambay';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/cambay/Cambay-Italic.ttf') format('truetype');
}

/* Italic Bold */
@font-face {
  font-family: 'Cambay';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/cambay/Cambay-BoldItalic.ttf') format('truetype');
}

.header-search {
	display: none !important;
}

.figure-caption {
    font-size: 110%;
    color: #505759;
}

#portal-footer-wrapper .page-footer {
    background-color: #64A70B !important;
}

.page-footer a:hover {
    color: #F6BE00 !important;
    text-decoration: none;
}

.message {
  margin-top: 10px;
  max-width: 80%;
  width: fit-content;
}

.leftDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.rightDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#app {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
}

.chat-enter-active, .chat-leave-active {
    transition: all 0.15s;
}

.chat-enter, .chat-leave-to /* .chat-leave-active below version 2.1.8 */
{
    opacity: 0;
    transform: translateY(30px);
}

.sticky {
    position: sticky;
    top: 12px;
    left: 0;
    z-index: 4000;
}
.customalert {
    width: 100%;
}

#overflow {
    overflow-y: scroll;
    height: 70vh;
    padding: 10px;
}

.customscroll::-webkit-scrollbar-track {
    /-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);/
    border-radius: 0;
    background-color: rgba(245, 245, 245, 0);
}
.customscroll::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.customscroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #007bff;
}

#senddiv {
    /display: flex;/
    /justify-content: space-between;/
    width: 100%;
    padding: 12px;
    background-color: white;
    height: 80px;
}

div.fc-breadcrumbs-container {
	display: none;
}
